<div class = "container my-4">
  <div class = "row px-2">
    <div  class= "text-stert">
    <h2 class = "bg-light px-3">商品編集</h2>
    <% if @item.errors.any? %>
      <%= @item.errors.count %>件のエラーが発生しました。
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>
</div>

<div class = "container w-100 mt-4 d-flex flex-column align-items-center justify-content-around ">
  <%= form_with model: [:admin,@item], local: true, class: "w-75" do |f| %>
    <%= render 'form', item: @item, f:f %>
    <div class="text-center">
      <%= f.submit "編集を保存", class: " mb-2 btn btn-success" %>
    </div>
  <% end %>
</div>