<div class = 
<h1>商品新規登録</h1>

  <% if @item.errors.any? %>
    <%= @item.errors.count %>件のエラーが発生しました。
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<%= form_with model: [:admin,@item], local: true do |f| %>
<%= render 'form', item: @item, f: f %>

  <%= f.submit "新規登録" %>
<% end %>

