<div>
  <%= image_tag @item.get_image %>
</div>
<table>
  <tr>
    <th>商品名  <%= @item.name %></th>
    <th>商品説明  <%= @item.introduction %></th>
    <th>ジャンル</th> 
    <th>税込価格（税抜価格) <%= number_to_currency(@item.price, unit: "円", precision: 0) %><%= number_to_currency(@item.price_in_tax, unit: "円", precision: 0) %></th>
    <th>販売ステータス  <%= @item.is_active ? "販売中" : "販売停止中" %></th>
    <th><%= link_to "編集する", edit_admin_item_path(@item) %></th>
  </tr>
</table>