<div class='container W-100 my-3'>
  <div class='row my-4 w-75'>
    <div class="col-12">
      <h4 class="bg-light px-3 mb-3 text-start d-inline-block">
        <%= "#{@customer.last_name}#{@customer.first_name}" %>さんの会員詳細
      </h4>
      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          会員ID
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @customer.id %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          氏名
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= "#{@customer.last_name}#{@customer.first_name}" %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          フリガナ
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= "#{@customer.last_name_kana}#{@customer.first_name_kana}" %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          郵便番号
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @customer.postal_code %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          住所
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @customer.address %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          電話番号
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @customer.telephone_number %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          メールアドレス
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @customer.email %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          会員ステータス
        </div>
        <div class="col-md-5">
          <% if @customer.is_active %>
            <div class="form-control-plaintext text-success">有効</div>
          <% else %>
            <div class="form-control-plaintext text-secondary">無効</div>
          <% end %>
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col-md-3">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
        </div>
        <div class="col-md-3">
          <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>



