<div class = "container w-100  my-4 d-flex flex-row justify-content-center">
  <div class = "row align-item-baseline  d-flex justify-content-between w-90 my-3">
    <% if @cart_items.blank? %>
      <div class='container' style="height: 100vh;">
        <div class="row justify-content-center align-items-center" style="height: 100%;">
          <div class="col-12 text-center">
            <h1>カート内商品はございません</h1>
          </div>
        </div>
      </div>
    <% else %>
      <h2 class = "bg-light px-3">ショッピングカート</h2>
      <div class='bg-left px-3'>
        <%= link_to "カートを空にする",cart_items_destroy_all_path, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "本当にカートを空にしますか？"} %>
      </div>
      <table class="table table-bordered align-middle">
        <thead class="table-light thead-color">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="tbody-color">
          <% @cart_items.each do |cart_item| %>
            <tr id="cart_item_<%= cart_item.id %>" class="align-middle">
              <td class="text-start">
                <%= image_tag cart_item.item.image.variant(resize_to_limit: [50, 50]).processed, class: "p-2" %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= cart_item.item.price_in_tax %>円
              </td>
              <td>
                <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :patch, local: false, class: "d-inline-block") do |form| %>
                  <%= form.hidden_field :customer_id, value: current_customer.id %>
                  <%= form.hidden_field :item_id, value: cart_item.item.id %>
                  <%= form.select :amount, (1..50).to_a, {}, class: "form-select-sm" %>
                  <%= form.submit "変更", class: "btn change_button", style: "background-color: #D5CEA3;" %>
                <% end %>
              </td>
              <td>
                <%= cart_item.subtotal %>円
              </td>
              <td>
                <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "本当に削除しますか？" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class= "d-flex align-items-center justify-content-between my-3 px-3 w-100">
        <div class= "text-start">
          <%= link_to "買い物を続ける", root_path, class: "btn btn-sm btn-primary" %>
        </div>
        <div class="text-end">
          <table class="table table-bordered d-inline-block mb-0" style="border-color: #3C2A21; width: auto;">
            <tbody>
              <tr>
                <th class="table-light thead-color">合計金額</th>
                <td><%= render 'total', total_amount: @total_amount %>円</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="w-100 text-center my-3">
        <%= link_to '情報入力に進む', new_order_path,  class: "btn",  style: "background-color: #28A745; color: #E5E5CB;" %>
      </div>

    <% end %>
  </div>
</div>