<div class='container px-5 px-sm-0'>
  <div class='row'>
    <% if @cart_items.blank? %>
      <div class='col-md-8 text-center'>
        <h3>カート内商品はございません</h3>
      </div>
    <% else %>
      <div class='col text-start'>
        ショッピングカート
      </div>
      <div class='col text-end'>
        <%= link_to "カートを空にする",cart_item_destroy_all_path, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "本当にカートを空にしますか？"} %>
      </div>
      <table class='table table-hover table-bordered'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr id="cart_item_<%= cart_item.id %>">
              <td class="align-middle">
                <%= image_tag cart_item.item.get_image(100, 100), class: "p-2 image" %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= cart_item.item.price_in_tax%>円
              </td>
              <td>
                <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :patch, local: false, class: "text-center") do |form| %>
                  <%= form.hidden_field :customer_id, :value => current_customer.id %>
                  <%= form.hidden_field :item_id, :value => cart_item.item.id %>
                  <%= form.select :amount, *[1..50],{}, class: "form-select-sm" %>
                  <%#= form.submit "変更", class: "btn change_button", style: "background-color: #D5CEA3;" %>
                <% end %>                 
              </td>
              <td>
                <%= cart_item.subtotal%>円
              </td>
              <td>
                <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "本当に削除しますか？"}  %>
              </td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row roww-content-middle mt-3">
        <div class='col-md-4'>
          <%= link_to "買い物を続ける", root_path, class: 'btn btn-sm btn-primary' %>
        </div>
        <div class='col-md-2'>
          <table class='table table-hover table-bordered', style='border-color: #3C2A21;'>
            <tbody>
              <tr align='center'>
                <th style="background-color: raba(60, 42, 33, 0.5);">合計金額</th>
                <td class="text-center total-area">
                  <%= render 'total', total_amount: @total_amount %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mt- row-content">
          <div class="col-md-3 text-center">
            <%= link_to '情報入力へ進む', new_order_path, class: "btn", style: "background-color: #1A120B; color: #E5E5CB;" %>
      </div>
    <% end %>
  </div>
</div>