<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "publics/shared/error_messages", resource: resource %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :last_name, '姓' %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "山田" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :first_name, '名' %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "花子" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :last_name_kana, 'セイ' %>
      <%= f.text_field :last_name_kana, class: "form-control", placeholder: "ヤマダ" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :first_name_kana, 'メイ' %>
      <%= f.text_field :first_name_kana, class: "form-control, placeholder: "ハナコ" %>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :password, 'パスワード(6文字以上)' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :password_confirmation, 'パスワード(確認用)' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn-success" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
