<div class="row my-4 ml-5 d-flex align-items-baseline">
  <h2 class = "bg-light px-3">注文情報確認</h2>
</div>

<div class="container mx-1 ">
  <div class="row d-flex justify-content-center ml-3">
    <div class="col-md-8 offset-me-1 text-start d-flex-column">
      <table class="table table-bordered">
        <thead class ="table-light thead-color">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
         <% @cart_items.each do |cart_item| %>
          <tbody class="tbody-color">
            <tr>
              <td>
                 <%= image_tag cart_item.item.image, size: "50x50" %>
                <strong><%= cart_item.item.name %></strong>
              </td>
               <td><%= cart_item.item.price_in_tax %></td>
               <td><%= cart_item.amount %></td>
               <td><%= cart_item.subtotal %></td>
            </tr>
          </tbody>
         <% end %>
      </table>
    </div>
    
    <div class="col-md-3">
      <table class="table">
        <tr>
          <td class="table-light thead-color">送料</td>
           <td class="tbody-color"><%= @shipping_cost %></td>
        </tr>
        <tr>
          <td class="table-light thead-color">商品合計</td>
           <td class="tbody-color"><%= @cart_items_price %></td>
        </tr>
        <tr>
          <td class="table-light thead-color">請求金額</td>
           <td class="tbody-color"><%= @total_payment %></td>
        </tr>
      </table>
    </div>

    <div class="col-10">
      <h4>支払方法</h4>
      <% if @selected_payment_method == "credit_card" %>
         クレジットカード
      <% else %>
         銀行振込
      <% end %>

  
      <h4>お届け先</h4>
      <%= @selected_address %>
      <%= form_with url: public_orders_path, method: :post do %>
        <%= hidden_field_tag "order[payment_method]", @selected_payment_method %>
        <%= hidden_field_tag "order[address_type]", @address_type %>
        
        <% if @address_type == "registered_address" %>
          <%= hidden_field_tag "order[registered_address_id]", params[:order][:registered_address_id] %>
        <% elsif @address_type == "new_address" %>
          <%= hidden_field_tag "order[new_postal_code]", params[:order][:new_postal_code] %>
          <%= hidden_field_tag "order[new_address]", params[:order][:new_address] %>
          <%= hidden_field_tag "order[new_name]", params[:order][:new_name] %>
        <% end %>
        <div class="d-flex justify-content-center my-4">
          <%= submit_tag "注文を確定する", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



