<div class="container p-2">
  <div class="row">
    <div class="col-12">
      <h4><span class="bg-light">注文履歴詳細</span></h4>
    </div>

    <div class="col-lg-7">
      <h6>注文情報</h6>
      <table class="table">
        <tr>
          <td class="tdd-color">注文日</td>
          <td class="td-color"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="tdd-color">配送先</td>
          <td class="td-color">〒<%= @order.postal_code + " " + @order.address + " " + @order.name %></td>
        </tr>
        <tr>
          <td class="tdd-color">支払方法</td>
          <td class="td-color"><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td class="tdd-color">ステータス</td>
          <td class="td-color"><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>

      <div class="col-lg-4">
        <h6>請求情報</h6>
        <table class="table">
          <tr>
            <td class="tdd-color">商品合計</td>
            <td class="td-color"><%= @order.order_details.sum { |detail| detail.price * detail.amount } %></td>
          </tr>
          <tr>
            <td class="tdd-color">配送料</td>
            <td class="td-color"><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <td class="tdd-color">ご請求額</td>
            <td class="td-color"><%= @order.total_payment %></td>
          </tr>
        </table>
      </div>
      
      <br>
      <div class="col-lg-8">
        <h6>注文内容</h6>
        <table class="table table-bordered">
          <thead class ="thead-color">
            <tr>
              <th>商品</th>
              <th>単価(税込)</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <% @order_details.each do |order_detail| %>
            <tbody class="tbody-color">
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.item.price_in_tax %></td>
                <td><%= order_detail.amount %></td>
                <td><%= order_detail.amount * order_detail.item.price_in_tax %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
  </div>
</div>
