<div class="container">
  <div class="row">
    <div class="col-12">
      <h4><span class="bg-light">注文履歴詳細</span></h4>
    </div>

    <div class="col-lg-7">
      <h6>注文情報</h6>
      <table class="table">
        <tr>
          <td class="bg-light">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="bg-light">配送先</td>
          <td>〒<%= @order.postal_code + " " + @order.address + " " + @order.name %></td>
        </tr>
        <tr>
          <td class="bg-light">支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td class="bg-light">ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>

      <div class="col-lg-4">
        <h6>請求情報</h6>
        <table class="table">
          <tr>
            <td class="bg-light">商品合計</td>
            <td><%= @cart_items_price %></td>
          </tr>
          <tr>
            <td class="bg-light">配送料</td>
            <td><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <td class="bg-light">ご請求額</td>
            <td><%= @total_payment %></td>
          </tr>
        </table>
      </div>
      
      <br>
      <div class="col-lg-8">
        <h6>注文内容</h6>
        <table class="table table-bordered">
          <thead class ="thead-light">
            <tr>
              <th>商品</th>
              <th>単価(税込)</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <% @order_details.each do |order_detail| %>
            <tbody>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detaul.item.price %></td>
                <td><%= order_detail.quantity %></td>
                <td><%= order_detail.quantity * order_detail.item.price %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
  </div>
</div>
