<div class = "row my-4 col-4 d-flex justify-content-end align-items-baseline">
  <h2 class = "bg-light pl-3" >商品一覧</h2><h4 class = "bg-light pt-2 pr-2">（全<%= Item.count %>件）</h4>
</div>

<div class = "container w-100 ">
  <div class= "row ">
    <% @items.each do |item| %>
      <div class="col-3 mb-3 text-start d-flex flex-column card border-0">
        <%= link_to public_item_path(item.id) do %>
          <%= image_tag item.get_image, class:"card-img-top" %>
        <% end %>
        <div class= "card-title">
        <%= item.name %>
        </div>
        <div class= "card-text">
        <%= number_to_currency(item.price_in_tax, unit: "￥", format: "%u%n", precision: 0) %>
        </div>
      </div>
    <% end %>
    <div class = "col-12 d-flex justify-content-center my-2">
      <%= paginate @items %>
    </div>
  </div>
</div>