<div class = "row my-4 ml-5 d-flex align-items-baseline">
  <h2>商品一覧</h2><h4>（全<%= Item.count %>件）</h4>
</div>

<div class = "container mx-1">
  <div class= "row d-flex justify-content-center ml-3">
    <% @items.each do |item| %>
      <div class="col-3 mb-4 text-start d-flex flex-column card card border-0">
        <%= link_to public_item_path(item.id) do %>
          <%= image_tag item.get_image, class:"card-img-top" %>
        <% end %>
        <div class= "card-title">
        <%= item.name %>
        </div>
        <div class= "card-text">
        <%= number_to_currency(item.price_in_tax, unit: "￥", format: "%u%n", precision: 0) %>
        </div>
      </div>
    <% end %>
    <div>
      <%= paginate @items %>
    </div>
  </div>
</div>