<div class="container w-100">
  <div class="row my-5">
    <%= render 'public/shared/genre_sidebar' %>

    <div class="col-9">
      <div class="row">
        <div class="col-5 text-center">
          <%= image_tag @item.get_image, class: "img-fluid" %>
        </div>

        <dl class="row col-7 pl-2 d-flex flex-column">
          <dt class="h4"><%= @item.name %></dt>
          <dd class="w-100 text-wrap"><%= @item.introduction %></dd>
          <dt class="mt-4 h5">
            <%= number_to_currency(@item.price_in_tax, unit: "￥", format: "%u%n", precision: 0) %>
          </dt>
          <div class="d-flex flex-row mt-5">
            <%= form_with model: CartItem.new, url: cart_items_path, method: :post, local: true do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :amount, options_for_select([['個数選択', '', { disabled: true, selected: true }]] + (1..5).map { |n| [n, n] }), {}, class: "form-select me-3", style: "width: 100px;" %>
              <%= f.submit "カートに追加", class: "btn btn-success" %>
            <% end %>
          </div>
        </dl>
      </div>
    </div>
  </div>
  </div>



